{% extends "base.html" %}

{% block content %}
    <h4>Create New Hardware Item</h4>
    <form action="" method="post" novalidate>
        <div class="create-form">
            <label for="serialnum">Serial Number: </label>
            <input type="text" name="serialnum" id="serialnum" required>
        </div>
        <div class="create-form">
            <label for="hardwaretype">Type: </label>
            <input type="text" name="hardwaretype" id="hardwaretype" required>
        </div>
        <div class="create-form">
            <input type="submit" value="Create Hardware Item">
        </div>
    </form>
{% endblock %}