{% extends "base.html" %}

{% block content %}
    <h4>Create New Asset</h4>
    <form action="" method="post" novalidate>
        <div class="create-form">
            <label for="assetname">Name: </label>
            <input type="text" name="assetname" id="assetname" required>
        </div>
        <div class="create-form">
            <label for="assettype">Type: </label>
            <input type="text" name="assettype" id="assettype" required>
        </div>
        <div class="create-form">
            <input type="submit" value="Create Asset">
        </div>
    </form>
{% endblock %}